@using Dziennik.Models.Roles
@model Dziennik.Models.Group

@{
	ViewData["Title"] = "Create";
	Layout            = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Group</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DidacticLevel" class="control-label"></label>
				<select asp-for="DidacticLevel" class="form-control">
					@* @ViewBag.DidacticLevels.ToString() *@
					@foreach (DidacticLevel dl in ViewBag.DidacticLevels)
					{
						<option value="@dl">@dl.ToString()</option>
					}
				</select>
				<span asp-validation-for="DidacticLevel" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DidacticCycle" class="control-label"></label>
				<select asp-for="DidacticCycle.Id" class="form-control">
					@* @ViewBag.DidacticCycles.ToString() *@
					@foreach (DidacticCycle dc in ViewBag.DidacticCycles)
					{
						<option value="@dc.Id">@dc.PrettyDisplay</option>
					}
				</select>
				<span asp-validation-for="DidacticCycle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Supervisor" class="control-label"></label>
				<select asp-for="SupervisorId" class="form-control">
					@* @ViewBag.Supervisors.ToString() *@0
					@foreach (Teacher teacher in ViewBag.Supervisors)
					{
						<option value="@teacher.Id">@teacher.Owner.ShortName</option>
					}
				</select>
				<span asp-validation-for="Supervisor" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>