@model Dziennik.Models.Group

@{
	ViewData["Title"] = "Details";
	Layout            = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h4>Group</h4>
	<hr/>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DidacticLevel)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DidacticLevel)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DidacticCycle)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DidacticCycle.PrettyDisplay)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Supervisor)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Supervisor!.Owner.ShortName)
		</dd>
		
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Students)
		</dt>
		<dd class="col-sm-10">
			<ul>
				@foreach (var student in Model.Students)
				{
					<li>@student.Owner.ShortName</li>
				}
			</ul>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>