@using Dziennik.Models.Roles
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dziennik.Models.Course

@{
	ViewData["Title"] = "Edit";
	Layout            = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="form-group">
				<label asp-for="Program" class="control-label"></label>
				<select asp-for="ProgramId" class="form-control">
					@foreach (CourseProgram program in ViewBag.CoursePrograms)
					{
						<option value="@program.Id" selected="@(Model.ProgramId == program.Id)">
							@program.Description / @Enum.GetName(program.DidacticLevel)
						</option>
					}
				</select>
				<span asp-validation-for="ProgramId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Teacher" class="control-label"></label>
				<select asp-for="TeacherId" class="form-control">
					@foreach (Teacher teacher in ViewBag.Teachers)
					{
						<option value="@teacher.Id" selected="@(Model.TeacherId == teacher.Id)">
							@teacher.Owner.ShortName
						</option>
					}
				</select>
				<span asp-validation-for="TeacherId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Group" class="control-label"></label>
				<select asp-for="GroupId" class="form-control">
					@foreach (Group group in ViewBag.Groups)
					{
						<option value="@group.Id" selected="@(Model.GroupId == group.Id)">
							@group.Name
						</option>
					}
				</select>
				<span asp-validation-for="GroupId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>