@model IEnumerable<Dziennik.Models.Scoring.ClassTask>

@{
	ViewData["Title"] = "Tasks";
	Layout            = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tasks</h1>

<p>
	<a asp-action="Create" asp-route-courseId="@ViewBag.courseId">Create New</a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>@Html.DisplayNameFor(model => model.Description)</th>
		<th>@Html.DisplayNameFor(model => model.Weight)</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Description)</td>
			<td>@Html.DisplayFor(modelItem => item.Weight)</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="ByTask" asp-controller="Marks" asp-route-taskId="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>